$blackColor: #020304;
$footerColor: #1d1f21;
$whiteColor: #fff;
$orangeColor: #fb7e30;
$greyColor: #787878;
$blueColor: #0070f3;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: $footerColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h6 {
  color: $orangeColor;
}
footer p {
  color: $whiteColor;
  a {
    text-decoration: underline;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0;
}

.container {
  // width: 1200px;
  margin: 0 auto;
  .logo-header {
    cursor: pointer;
    background: $orangeColor;
    padding: 35px 30px 10px 20px;
    position: relative;
    left: -120px;
    top: 40px;
    transform: rotate(-90deg);
    border-bottom-left-radius: 8px;
    width: fit-content;
    h1 {
      font-size: 16px;
      font-weight: 600;
    }
    h2 {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.over-container {
  width: 100%;
  background: $blackColor;
  h4 {
    color: $whiteColor;
    font-weight: 400;
    font-size: 4em;
  }
  .desc {
    color: $greyColor;
    font-weight: 400;
    font-size: 20px;
  }
}
.boxes {
  text-align: center;
  cursor: pointer;
  .images {
    width: 100%;
    height: 360px;
    overflow: hidden;
    border-radius: 8px;
  }
  .author {
    font-size: 12px;
    display: flex;
    justify-content: center;
    p {
      width: fit-content;
      padding: 5px 25px;
      border: 1px solid $blackColor;
      border-radius: 30px;
      span {
        font-weight: 800;
      }
    }
  }
  h5 {
    font-size: 30px;
    font-weight: 400;
  }
}
.boxes-feature {
  text-align: center;
  cursor: pointer;
  .images {
    width: 100%;
    height: 240px;
    overflow: hidden;
    border-radius: 8px;
  }
  .author {
    font-size: 12px;
    display: flex;
    justify-content: center;
    p {
      width: fit-content;
      padding: 5px 25px;
      color: $whiteColor;
      border: 1px solid $whiteColor;
      border-radius: 30px;
      span {
        font-weight: 800;
      }
    }
  }
  h5 {
    color: $whiteColor;
    font-size: 24px;
    font-weight: 400;
  }
}
.detail-article {
  text-align: center;
  .images {
    width: 100%;
    height: 500px;
    overflow: hidden;
    .author {
      position: relative;
      text-align: left;
      margin-top: -80px;
      padding: 20px 20px 20px 30px;
      background: $whiteColor;
      width: fit-content;
      height: auto;
      z-index: 1;
      border-top-right-radius: 8px;
      .date {
        font-size: 0.8em;
        text-transform: uppercase;
      }
      span {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    img {
      border-radius: 8px;
    }
  }
  .body-article {
    margin: 0 auto;
    h1 {
      font-size: 4em;
      text-transform: none;
    }
    .summary {
      font-family: "Roboto Slab", serif !important;
      font-size: 2em;
      line-height: 2em;
    }
    .content {
      text-align: start;
      font-family: "Roboto Mono", monospace;
      font-size: 1.3em;
      line-height: 2em;
    }
  }
}
.container-menu {
  float: right;
  margin-top: -90px;
  .cat {
    padding-bottom: 10px;
    width: 250px;
    margin: 0;
  }
  .cat:hover {
    color: $orangeColor;
  }
  .bordered {
    border-bottom: 4px solid $blackColor;
  }
  .btn-head {
    font-weight: 600;
    color: $blackColor;
    transition: 0.3s;
  }
  .btn-head:hover {
    color: $orangeColor;
  }
  .active {
    color: $orangeColor;
  }
}

.containertest {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  margin-right: 15px;
}

.title a {
  color: $blueColor;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 800;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

#burger {
  display: none;
}
h1 {
  top: 40px;
  left: 40px;
  z-index: 6;
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
  text-transform: uppercase;
  > span {
    text-transform: none;
    opacity: 0.5;
    font-weight: 300;
    font-size: 12px;
  }
}
input + label {
  position: fixed;
  top: 25px;
  right: 30px;
  height: 20px;
  width: 35px;
  z-index: 5;
  span {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: $orangeColor;
    transition: 0.5s;
  }
  span:first-child {
    top: 0px;
  }
  span:last-child {
    top: 20px;
  }
}
label:hover {
  cursor: pointer;
}
input ~ nav {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 73px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
  > ul {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    padding: 0;
    > li {
      opacity: 0;
      transition: 0.5s;
      transition-delay: 0s;
      list-style: none;
      > a {
        text-decoration: none;
        color: $blackColor;
        font-weight: 700;
        font-family: sans-serif;
        display: block;
        padding: 10px 30px;
        cursor: pointer;
      }
      > .active {
        color: $orangeColor;
      }
    }
  }
}

.rotate {
  span {
    opacity: 0;
    top: 50%;
  }
  span:first-child {
    opacity: 1;
    transform: rotate(405deg);
    top: 5px;
  }
  span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
    top: 5px;
  }
}
.add-height {
  height: 100%;
  transition-delay: 0s;
  ul {
    li {
      opacity: 1;
      transition-delay: 0.5s;
    }
  }
}
.z-cust {
  .logo-header {
    transition-delay: 0.5s;
    z-index: 0 !important;
  }
}
.burgered {
  display: none;
}
nav {
  display: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 1000px) {
  .burgered {
    display: block !important;
  }
  nav {
    display: block !important;
  }
  .over-container {
    h4 {
      font-size: 2.4em;
    }
  }
  .article-list {
    margin-top: 65px;
  }
  .boxes {
    .images {
      height: auto;
    }
  }
  .boxes-feature {
    padding: 2rem !important;
  }
  .detail-article {
    padding: 0 !important;
    margin-top: 65px;
    .images {
      padding: 0;
    }
    .body-article {
      width: 90% !important;
      h1 {
        font-size: 2em;
        line-height: 1.4em;
      }
      .summary {
        font-size: 1.2em;
      }
      .content {
        font-size: 1.2em;
      }
    }
  }
  .container {
    .logo-header {
      z-index: 4;
      position: fixed;
      padding: 25px 30px 10px 20px;
      top: 0;
      left: 0;
      transform: none;
      border-radius: 0px;
    }
  }
  .containertest {
    display: none;
  }
  footer {
    text-align: center;
  }
}
